@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Productos</h1>
    <p class="lead">Compre su producto para realizar su pedido</p>
    <p> @Html.ActionLink("Productos", "Index","products")</p>
</div>

